ul,
li {
  text-decoration: none;
  list-style-type: none;
}

.statistics {
  margin-left: 8px;
  text-align: start;
  margin: 10px;
}
.btnstat {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: darkgreen;
  text-align: center;
  line-height: 1.8;
}
